language: android

android:
  components:
    # https://github.com/travis-ci/travis-ci/issues/5036
    - tools
    - build-tools-26.0.2
    - android-26
    - extra-android-m2repository

jdk:
  - oraclejdk8

script:
  - ./gradlew test

after_success:
  - ./gradlew jacocoTestReport coveralls